/* AdminPage.css */
.admin-container {
  display: flex;
  justify-content: space-between; 
}

.product-list,
.product-form {
  width: 45%; 
}

.product-list {
  margin-right: 20px;
}

.product-form {
  margin-left: 20px; 
}
