/* AdminPage.css */
.admin-container {
  display: flex;
}

.product-list,
.forms-container {
  width: 45%; 
}

.product-list {
  margin-right: 10%; /* Adjusted for spacing */
}

.forms-container {
  display: flex;
  flex-direction: column;
}

/* You can remove .product-form margin if it's no longer needed */
