/* AdminPage.css */
.admin-container {
  display: flex;
}

.sidebar {
  width: 200px;
  background-color: #f4f4f4;
  transition: width 0.3s ease; /* Add transition for smoother animation */
}

.sidebar-closed {
  width: 50px; /* Set width to the size of the collapsed sidebar */
}

.sidebar-toggle {
  cursor: pointer;
  padding: 10px;
  text-align: center;
}

.sidebar-menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar-menu.open {
  display: block; /* Show menu when expanded */
}

.sidebar-menu li {
  padding: 10px;
  cursor: pointer;
}

.sidebar-menu li:hover,
.sidebar-menu li.active {
  background-color: #ddd;
}

.content {
  flex: 1; /* Occupy remaining space */
  padding: 20px;
  
  min-width:100px; /* Ensure content area doesn't shrink */
}

/* Ensure that images and forms remain fixed when sidebar collapses */
.content img,
.content form {
  max-width: 100%; /* Prevent shrinking */
}

