/* Feedback.css */
#feedbackMainContent {
  display: flex;
  flex-direction: column;
}

.topSection {
  display: flex;
}

.rolexImage {
  flex: 1;
  padding: 20px;
  max-width: 100%;
  height: auto;
}

.rolexImage img {
  width: 100%;
  height: auto;
}

.feedbackForm {
  flex: 1;
  padding: 20px;
}

.feedbackForm h1 {
  margin-bottom: 20px;
}

.feedbackForm label {
  display: block;
  margin-bottom: 10px;
}

.feedbackForm input,
.feedbackForm textarea {
  width: 100%;
  padding: 10px;
  border: 2px solid #0a58ca;
  border-radius: 5px;
  background-color: #ffffff;
  margin-bottom: 15px;
}

.feedbackForm button {
  width: 100%;
  padding: 10px 20px;
  border: none;
  background-color: #004b93;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.feedbackForm button:hover {
  background-color: #003366;
}

.middleSection {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.contactInfo {
  text-align: center;
}

.contactInfo h2 {
  margin-bottom: 10px;
}

.contactInfo p {
  margin: 5px;
}

.bottomSection {
  padding: 20px;
}

iframe {
  border: none;
}
